header {

}
header .container{
	font-size: 1.5em;
	background-color: #eee;
	text-align: center;
	border-radius: 0 0 25% 25%;
}
header .container .row {
	padding-top: 1em;
}

.top-nav a{
	margin-right: 1em;
}

.user {
	text-align: right;
	padding-bottom: 1em;
}
.logo {
	text-align: left;
}

#write-shyteyky{
	width: 100%;
}

#icon-user{
	border-radius: 100%;
	padding-right: 0.5em 
}

.main-read {
	background-color: #eee;
}

.text-shyt {
	font-size: 1.5em;
}

.date-shyt{
	font-size: 1.5em;
	width: 100%;
	text-align: right;
}

footer .container-fluid{
	background-color: #eee;
}
