 <div class="container">
<div class="write-shyteyky">
      <form action="/save-shyteyky" method="POST">
        <textarea rows="2" id= "write-shyteyk" name="text" ></textarea>
        <button type="submit" value="Submit">ЕЕЕЕ</button>
      </form>
</div>
{{ range $index, $element := .}}
 
      <div class="container">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 main-read shyteyka">
            <p class="rate-shyt">rate {{$element.Rate}}</p>
            <span class="text-shyt">{{$element.Text}}</span><br>
            <span class="date-shyt">{{$element.Date}}</span>
        </div>
      </div>  

{{ end }}
    </div>